Repository Regnander/stardew-valley-swedish, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📚, maintence 👩‍🔧, translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated yet another file, made changes to existing ones
  assets/Characters/Dialogue/MarriageDialogue.json
  assets/Characters/Dialogue/MarriageDialogueLeah.json
  assets/Characters/Dialogue/MarriageDialogueMaru.json
  assets/Characters/Dialogue/MarriageDialoguePenny.json
Labels: translation 🌐

Translated another file, made changes to existing ones
  assets/Characters/Dialogue/MarriageDialogueAlex.json
  assets/Characters/Dialogue/MarriageDialogueHarvey.json
  assets/Characters/Dialogue/MarriageDialogueSam.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated another file, made changes to existing ones
  assets/Characters/Dialogue/MarriageDialogue.json
  assets/Characters/Dialogue/MarriageDialogueLeah.json
  assets/Characters/Dialogue/MarriageDialogueSebastian.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated another file, made changes to an existing one
  assets/Characters/Dialogue/MarriageDialogueSebastian.json
  assets/Characters/Dialogue/MarriageDialogueShane.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated two files, made changes to existing ones
  assets/Data/Events/Beach.json
  assets/Data/Events/BusStop.json
  assets/Data/Events/Farm.json
  assets/Data/Events/FarmHouse.json
Labels: translation 🌐

Translated two files
  assets/Data/Events/FishShop.json
  assets/Data/Events/IslandNorth.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated one files
  assets/Data/Events/HarveyRoom.json
Labels: translation 🌐

Translated four files
  assets/Data/Events/Hospital.json
  assets/Data/Events/IslandHut.json
  assets/Data/Events/IslandWest.json
  assets/Data/Events/ManorHouse.json
Labels: translation 🌐

Translated two more files
  assets/Data/Events/Forest.json
  assets/Data/Events/HaleyHouse.json
Labels: translation 🌐

Translated two more files
  assets/Data/Events/IslandSouth.json
  assets/Data/Events/JoshHouse.json
Labels: translation 🌐

Made minor changes to existing files
  assets/Data/Events/Beach.json
  assets/Data/Events/BusStop.json
  assets/Data/Events/Farm.json
  assets/Data/Events/Forest.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated five more files and made some changes to existing ones
  assets/Data/Events/Farm.json
  assets/Data/Events/HaleyHouse.json
  assets/Data/Events/LeahHouse.json
  assets/Data/Events/Mine.json
  assets/Data/Events/Mountain.json
  assets/Data/Events/Railroad.json
  assets/Data/Events/Saloon.json
Labels: translation 🌐

Translated two more files
  assets/Data/Events/SamHouse.json
  assets/Data/Events/SandyHouse.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated five more files
  assets/Data/Events/ScienceHouse.json
  assets/Data/Events/SebastianRoom.json
  assets/Data/Events/SeedShop.json
  assets/Data/Events/Sewer.json
  assets/Data/Events/Sunroom.json
Labels: translation 🌐

Update auto_assign.yml
  .github/auto_assign.yml
Labels: maintence 👩‍🔧

Update spelling-errors-or-improvements.yml
  .github/ISSUE_TEMPLATE/spelling-errors-or-improvements.yml
Labels: maintence 👩‍🔧

Update spelling-errors-or-improvements.yml
  .github/ISSUE_TEMPLATE/spelling-errors-or-improvements.yml
Labels: maintence 👩‍🔧

Update spelling-errors-or-improvements.yml
  .github/ISSUE_TEMPLATE/spelling-errors-or-improvements.yml
Labels: maintence 👩‍🔧

Translated three more files
  assets/Data/Events/Saloon.json
  assets/Data/Events/Trailer.json
  assets/Data/Events/Trailer_Big.json
Labels: translation 🌐

Updated text proofreading percentage, added Known issues section
  README.md
Labels: documentation 📚

Fixed untranslated item names appearing as numbers
  assets/Characters/Dialogue/Maru.json
  assets/Data/Boots.json
  assets/Data/Furniture.json
  assets/Data/hats.json
  assets/Data/weapons.json
Labels: translation 🌐

Update spelling-errors-or-improvements.yml
  .github/ISSUE_TEMPLATE/spelling-errors-or-improvements.yml
Labels: maintence 👩‍🔧

Update spelling-errors-or-improvements.yml
  .github/ISSUE_TEMPLATE/spelling-errors-or-improvements.yml
Labels: maintence 👩‍🔧

Update spelling-errors-or-improvements.yml
  .github/ISSUE_TEMPLATE/spelling-errors-or-improvements.yml
Labels: maintence 👩‍🔧

Translated another file and made changes to an existing one
  assets/Data/Events/Sewer.json
  assets/Data/Events/Town.json
Labels: translation 🌐

Translated three more files
  assets/Data/Events/Temp.json
  assets/Data/Events/WizardHouse.json
  assets/Data/Events/Woods.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated the rest of the files in the schedules folder
  assets/Strings/schedules/Abigail.json
  assets/Strings/schedules/Alex.json
  assets/Strings/schedules/Caroline.json
  assets/Strings/schedules/Clint.json
  assets/Strings/schedules/Elliott.json
  assets/Strings/schedules/Emily.json
  assets/Strings/schedules/Gus.json
  assets/Strings/schedules/Jodi.json
  assets/Strings/schedules/Leo.json
  assets/Strings/schedules/Lewis.json
  assets/Strings/schedules/Linus.json
  assets/Strings/schedules/Marnie.json
  assets/Strings/schedules/Robin.json
  assets/Strings/schedules/Sam.json
  assets/Strings/schedules/Sebastian.json
  assets/Strings/schedules/Shane.json
  assets/Strings/schedules/Vincent.json
  assets/Strings/schedules/Willy.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated one file
  assets/Data/TV/InterviewShow.json
Labels: translation 🌐

Translated another file
  assets/Data/TV/CookingChannel.json
Labels: translation 🌐

Translated the second file
  assets/Data/TV/TipChannel.json
Labels: translation 🌐

Translated three files
  assets/Strings/Buildings.json
  assets/Strings/FarmAnimals.json
  assets/Strings/animationDescriptions.json
Labels: translation 🌐

.github/labeler.yml:

documentation 📚:
- '*.md'

maintence 👩‍🔧:
- '.github/**'
- '*.json'

translation 🌐:
- 'assets/**/*.json'
- 'assets/**/*.png'
