Repository Regnander/stardew-valley-swedish, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📚, maintence 👩‍🔧, translation 🌐

.github/labeler.yml:

documentation 📚:
- '*.md'

maintence 👩‍🔧:
- '.github/**'
- '*.json'

translation 🌐:
- 'assets/**/*.json'
- 'assets/**/*.png'

Translated one file that was accidently commited earlier
  assets/Data/ObjectInformation.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated two more files
  assets/Data/Movies.json
  assets/Data/NPCDispositions.json
Labels: translation 🌐

Made changes to existing files
  assets/Data/ClothingInformation.json
  assets/Data/FarmAnimals.json
  assets/Data/Fish.json
  assets/Data/ObjectInformation.json
Labels: translation 🌐

Translated more files
  assets/Data/ExtraDialogue.json
  assets/Data/MoviesReactions.json
  assets/Data/NPCGiftTastes.json
Labels: translation 🌐

Made changes to an existing file
  assets/Data/mail.json
Labels: translation 🌐

Made changes to existing files
  assets/Characters/Dialogue/Demetrius.json
  assets/Characters/Dialogue/MarriageDialogueKrobus.json
  assets/Characters/Dialogue/Penny.json
  assets/Characters/Dialogue/Sam.json
  assets/Characters/Dialogue/Shane.json
  assets/Data/Events/Farm.json
  assets/Data/Events/FarmHouse.json
  assets/Data/Events/Forest.json
  assets/Data/Events/Saloon.json
  assets/Data/Events/SeedShop.json
  assets/Data/Events/Temp.json
  assets/Data/Events/Town.json
  assets/Data/Festivals/winter8.json
  assets/Strings/Characters.json
  assets/Strings/Notes.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/UI.json
Labels: translation 🌐

Made several corrections to existing files
  assets/Characters/Dialogue/Wizard.json
  assets/Data/Events/BoatTunnel.json
  assets/Data/Events/Farm.json
  assets/Data/Events/Forest.json
  assets/Data/Events/SeedShop.json
  assets/Data/Events/Town.json
  assets/Data/Fish.json
  assets/Data/NPCGiftTastes.json
  assets/Data/ObjectInformation.json
  assets/Data/TV/TipChannel.json
  assets/Data/weapons.json
  assets/Strings/Locations.json
  assets/Strings/StringsFromMaps.json
  assets/Strings/UI.json
  assets/Strings/schedules/Emily.json
  assets/Strings/schedules/Penny.json
Labels: translation 🌐

Rewrote several quest-related strings
  assets/Data/Quests.json
  assets/Strings/SpecialOrderStrings.json
  assets/Strings/StringsFromCSFiles.json
Labels: translation 🌐

Added support for Lombus.InchesToMetricSystem
  content.json
Labels: maintence 👩‍🔧

Made changes to existing files
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/Dwarf.json
  assets/Data/CraftingRecipes.json
  assets/Data/Events/Beach.json
  assets/Data/Events/Saloon.json
  assets/Data/Fish.json
  assets/Data/NPCGiftTastes.json
  assets/Data/ObjectInformation.json
  assets/Data/Quests.json
  assets/Data/mail.json
  assets/Data/weapons.json
  assets/Strings/Characters.json
  assets/Strings/Locations.json
  assets/Strings/Notes.json
  assets/Strings/SpecialOrderStrings.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/StringsFromMaps.json
  assets/Strings/UI.json
Labels: translation 🌐

Made several corrections to existing files
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/Emily.json
  assets/Data/Achievements.json
  assets/Data/BigCraftablesInformation.json
  assets/Data/Boots.json
  assets/Data/ClothingInformation.json
  assets/Data/CookingRecipes.json
  assets/Data/CraftingRecipes.json
  assets/Data/ExtraDialogue.json
  assets/Data/Furniture.json
  assets/Data/ObjectInformation.json
  assets/Data/Quests.json
  assets/Data/SecretNotes.json
  assets/Data/hats.json
  assets/Data/mail.json
  assets/LooseSprites/Billboard.png
  assets/LooseSprites/Cursors.png
  assets/Strings/Characters.json
  assets/Strings/Events.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/UI.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Update README.md
  README.md
Labels: documentation 📚

Made several corrections to existing files
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/Haley.json
  assets/Characters/Dialogue/Marnie.json
  assets/Characters/Dialogue/MarriageDialogue.json
  assets/Data/CookingRecipes.json
  assets/Data/Events/Mountain.json
  assets/Data/Festivals/fall16.json
  assets/Data/Festivals/fall27.json
  assets/Data/Festivals/spring13.json
  assets/Data/Festivals/spring24.json
  assets/Data/Festivals/summer11.json
  assets/Data/Festivals/summer28.json
  assets/Data/Festivals/winter25.json
  assets/Data/Festivals/winter8.json
  assets/Data/ObjectInformation.json
  assets/Data/TV/CookingChannel.json
  assets/Data/TV/TipChannel.json
  assets/Data/mail.json
  assets/Strings/BundleNames.json
  assets/Strings/Characters.json
  assets/Strings/FarmAnimals.json
  assets/Strings/Locations.json
  assets/Strings/Notes.json
  assets/Strings/SpecialOrderStrings.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/StringsFromMaps.json
  assets/Strings/UI.json
Labels: translation 🌐

Made several corrections to existing files
  assets/Characters/Dialogue/Elliott.json
  assets/Characters/Dialogue/Gil.json
  assets/Characters/Dialogue/Mister Qi.json
  assets/Data/BigCraftablesInformation.json
  assets/Data/ClothingInformation.json
  assets/Data/Events/ArchaeologyHouse.json
  assets/Data/Events/CommunityCenter.json
  assets/Data/Events/Farm.json
  assets/Data/Events/HaleyHouse.json
  assets/Data/Events/Town.json
  assets/Data/Festivals/spring13.json
  assets/Data/Festivals/winter25.json
  assets/Data/Festivals/winter8.json
  assets/Data/mail.json
  assets/Strings/Characters.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/StringsFromMaps.json
  assets/Strings/schedules/Lewis.json
Labels: translation 🌐

Made several corrections to existing files
  assets/Characters/Dialogue/Mister Qi.json
  assets/Data/ExtraDialogue.json
  assets/Data/ObjectInformation.json
  assets/Data/Quests.json
  assets/Data/mail.json
  assets/Strings/Locations.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Added readme delimiter image
  .github/readme-delimiter.gif
Labels: maintence 👩‍🔧

Update README.md
  README.md
Labels: documentation 📚

Update README.md
  README.md
Labels: documentation 📚

Delete .github/readme-delimiter.gif
  .github/readme-delimiter.gif
Labels: maintence 👩‍🔧

Imported existing sprites translations from 1.5.6
  assets/LooseSprites/Billboard.png
  assets/LooseSprites/Cursors.png
  assets/Maps/DesertTiles.png
  assets/Maps/Festivals.png
  assets/Maps/fall_outdoorsTileSheet.png
  assets/Maps/fall_town.png
  assets/Maps/spring_outdoorsTileSheet.png
  assets/Maps/spring_town.png
  assets/Maps/summer_outdoorsTileSheet.png
  assets/Maps/summer_town.png
  assets/Maps/townInterior.png
  assets/Maps/winter_outdoorsTileSheet.png
  assets/Maps/winter_town.png
  assets/Minigames/Intro.png
  assets/Minigames/TitleButtons.png
  content.json
Labels: maintence 👩‍🔧, translation 🌐

Translated sprites
  assets/Maps/FishingDerbyTiles.png
  assets/Maps/MovieTheaterJoja_TileSheet.png
  assets/Maps/desert_festival_tilesheet_text.png
  assets/Maps/springobjects.png
  assets/Minigames/Xb1ProfileButton.png
Labels: translation 🌐

Imported second batch of existing translations from 1.5.6
  assets/Characters/Dialogue/Abigail.json
  assets/Characters/Dialogue/LeoMainland.json
  assets/Characters/Dialogue/Sam.json
  assets/Data/BigCraftablesInformation.json
  assets/Data/Boots.json
  assets/Data/ClothingInformation.json
  assets/Data/Festivals/fall16.json
  assets/Data/Festivals/fall27.json
  assets/Data/Festivals/spring13.json
  assets/Data/Festivals/spring24.json
  assets/Data/Festivals/summer11.json
  assets/Data/Festivals/summer28.json
  assets/Data/Festivals/winter8.json
  assets/Data/Fish.json
  assets/Data/Furniture.json
  assets/Data/NPCGiftTastes.json
  assets/Data/ObjectInformation.json
  assets/Data/Quests.json
  assets/Data/SecretNotes.json
  assets/Data/TV/CookingChannel.json
  assets/Data/TV/TipChannel.json
  assets/Data/hats.json
  assets/Strings/Notes.json
  assets/Strings/Weapons.json
Labels: translation 🌐

Imported third batch of existing translations from 1.5.6, made some file changes to ensure compatibility
  assets/Characters/Dialogue/Shane.json
  assets/Data/BigCraftablesInformation.json
  assets/Data/Bundles.json
  assets/Data/Concessions.json
  assets/Data/Events/IslandNorth.json
  assets/Data/Events/Town.json
  assets/Data/ExtraDialogue.json
  assets/Data/Furniture.json
  assets/Data/MoviesReactions.json
  assets/Data/NPCGiftTastes.json
  assets/Data/ObjectInformation.json
  assets/Data/Quests.json
  assets/Data/hats.json
  assets/LooseSprites/Cursors.png
  assets/Maps/FishingDerbyTiles.png
  assets/Maps/desert_festival_tilesheet_text.png
  assets/Strings/BigCraftables.json
  assets/Strings/Characters.json
  assets/Strings/Furniture.json
  assets/Strings/Locations.json
  assets/Strings/MovieConcessions.json
  assets/Strings/MovieReactions.json
  assets/Strings/Movies.json
  assets/Strings/NPCNames.json
  assets/Strings/Objects.json
  assets/Strings/Pants.json
  assets/Strings/Shirts.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/StringsFromMaps.json
  assets/Strings/UI.json
  content.json
Labels: maintence 👩‍🔧, translation 🌐

Updated all festival files
  assets/Data/Festivals/fall16.json
  assets/Data/Festivals/fall27.json
  assets/Data/Festivals/spring13.json
  assets/Data/Festivals/spring24.json
  assets/Data/Festivals/summer11.json
  assets/Data/Festivals/summer28.json
  assets/Data/Festivals/winter25.json
  assets/Data/Festivals/winter8.json
Labels: translation 🌐

Updated the translation for the events folder
  assets/Characters/Dialogue/Abigail.json
  assets/Data/Events/AnimalShop.json
  assets/Data/Events/Beach.json
  assets/Data/Events/Farm.json
  assets/Data/Events/FarmHouse.json
  assets/Data/Events/Forest.json
  assets/Data/Events/HaleyHouse.json
  assets/Data/Events/IslandHut.json
  assets/Data/Events/IslandNorth.json
  assets/Data/Events/IslandSouth.json
  assets/Data/Events/IslandWest.json
  assets/Data/Events/JoshHouse.json
  assets/Data/Events/LeahHouse.json
  assets/Data/Events/ManorHouse.json
  assets/Data/Events/Mountain.json
  assets/Data/Events/Saloon.json
  assets/Data/Events/ScienceHouse.json
  assets/Data/Events/SebastianRoom.json
  assets/Data/Events/Temp.json
  assets/Data/Events/Town.json
  assets/Data/Events/WizardHouse.json
  assets/Strings/schedules/Haley.json
Labels: translation 🌐

Updated multiple files
  assets/Data/Achievements.json
  assets/Data/Monsters.json
  assets/Data/Quests.json
  assets/Data/SecretNotes.json
  assets/Data/TV/TipChannel.json
  assets/Strings/BigCraftables.json
  assets/Strings/BundleNames.json
  assets/Strings/Characters.json
  assets/Strings/EnchantmentNames.json
  assets/Strings/FarmAnimals.json
  assets/Strings/Locations.json
  assets/Strings/Movies.json
  assets/Strings/Notes.json
  assets/Strings/Shirts.json
  assets/Strings/StringsFromMaps.json
  assets/Strings/Weapons.json
  assets/Strings/WorldMap.json
  assets/Strings/animationDescriptions.json
  assets/Strings/schedules/Sebastian.json
Labels: translation 🌐

Translated various files from various folders
  assets/Characters/Dialogue/Abigail.json
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/Demetrius.json
  assets/Characters/Dialogue/Dwarf.json
  assets/Characters/Dialogue/Emily.json
  assets/Characters/Dialogue/George.json
  assets/Characters/Dialogue/Haley.json
  assets/Characters/Dialogue/Harvey.json
  assets/Characters/Dialogue/Jodi.json
  assets/Characters/Dialogue/Lewis.json
  assets/Characters/Dialogue/Linus.json
  assets/Characters/Dialogue/MarriageDialogue.json
  assets/Characters/Dialogue/MarriageDialogueAbigail.json
  assets/Characters/Dialogue/MarriageDialogueLeah.json
  assets/Characters/Dialogue/Maru.json
  assets/Characters/Dialogue/Pierre.json
  assets/Characters/Dialogue/Sandy.json
  assets/Characters/Dialogue/Wizard.json
  assets/Characters/Dialogue/rainy.json
  assets/Data/BigCraftablesInformation.json
  assets/Data/Events/ScienceHouse.json
  assets/Data/ExtraDialogue.json
  assets/Data/Quests.json
  assets/Data/SecretNotes.json
  assets/Data/mail.json
Labels: translation 🌐

Translated various strings and changed how hardwood is translated
  assets/Data/BigCraftablesInformation.json
  assets/Data/Boots.json
  assets/Data/Events/BoatTunnel.json
  assets/Data/Events/ScienceHouse.json
  assets/Data/Events/Town.json
  assets/Data/Quests.json
  assets/Data/TV/TipChannel.json
  assets/Data/hats.json
  assets/Data/mail.json
  assets/Strings/BigCraftables.json
  assets/Strings/Characters.json
  assets/Strings/FarmAnimals.json
  assets/Strings/Furniture.json
  assets/Strings/Locations.json
  assets/Strings/Objects.json
  assets/Strings/SpecialOrderStrings.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/UI.json
  assets/Strings/Weapons.json
Labels: translation 🌐

Forgot to commit the progress percentages
  README.md
Labels: documentation 📚

Added larger umlauts for the bold fold, continued improving existing translated strings
  assets/Characters/Dialogue/Jodi.json
  assets/Data/Events/FarmHouse.json
  assets/Data/Events/LeahHouse.json
  assets/Data/Events/Town.json
  assets/Data/ExtraDialogue.json
  assets/Data/Festivals/winter8.json
  assets/Data/Fish.json
  assets/Data/TV/TipChannel.json
  assets/LooseSprites/font_bold.png
  assets/LooseSprites/font_colored.png
  assets/Maps/desert_festival_tilesheet_text.png
  assets/Strings/MovieConcessions.json
  assets/Strings/Movies.json
  assets/Strings/SpecialOrderStrings.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/UI.json
  content.json
Labels: maintence 👩‍🔧, translation 🌐
