Repository Regnander/stardew-valley-swedish, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📚, maintence 👩‍🔧, translation 🌐

Translated another file
  assets/Characters/Dialogue/rainy.json
Labels: translation 🌐

Made minor spelling adjustments to various existing files
  assets/Characters/Dialogue/Abigail.json
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/Caroline.json
  assets/Characters/Dialogue/Elliott.json
  assets/Characters/Dialogue/Emily.json
  assets/Characters/Dialogue/Evelyn.json
  assets/Characters/Dialogue/Gus.json
  assets/Characters/Dialogue/Haley.json
  assets/Characters/Dialogue/Jodi.json
  assets/Characters/Dialogue/Leah.json
  assets/Characters/Dialogue/Leo.json
  assets/Characters/Dialogue/Lewis.json
  assets/Characters/Dialogue/Linus.json
  assets/Characters/Dialogue/Marnie.json
  assets/Characters/Dialogue/Maru.json
  assets/Characters/Dialogue/Pam.json
  assets/Characters/Dialogue/Penny.json
  assets/Characters/Dialogue/Pierre.json
Labels: translation 🌐

Translated another file
  assets/Characters/Dialogue/Robin.json
Labels: translation 🌐

Made minor spelling adjustments to various existing files
  assets/Characters/Dialogue/Abigail.json
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/Caroline.json
  assets/Characters/Dialogue/Gus.json
  assets/Characters/Dialogue/Jodi.json
  assets/Characters/Dialogue/Lewis.json
  assets/Characters/Dialogue/Pam.json
  assets/Characters/Dialogue/Penny.json
  assets/Characters/Dialogue/Pierre.json
Labels: translation 🌐

Reworded several existing strings
  assets/Characters/Dialogue/Abigail.json
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/Caroline.json
  assets/Characters/Dialogue/Clint.json
  assets/Characters/Dialogue/Dwarf.json
  assets/Characters/Dialogue/Elliott.json
  assets/Characters/Dialogue/Emily.json
  assets/Characters/Dialogue/George.json
  assets/Characters/Dialogue/Haley.json
  assets/Characters/Dialogue/Harvey.json
  assets/Characters/Dialogue/Jas.json
  assets/Characters/Dialogue/Jodi.json
Labels: translation 🌐

Translated another file
  assets/Characters/Dialogue/Sandy.json
Labels: translation 🌐

Made minor spelling adjustments to various existing files
  assets/Characters/Dialogue/Haley.json
  assets/Characters/Dialogue/Kent.json
  assets/Characters/Dialogue/Krobus.json
  assets/Characters/Dialogue/Leah.json
  assets/Characters/Dialogue/Linus.json
  assets/Characters/Dialogue/Robin.json
Labels: translation 🌐

Translated another file
  assets/Characters/Dialogue/Sam.json
Labels: translation 🌐

Updated text proofreading percentage
  README.md
Labels: documentation 📚

Reworded strings in various existing files
  assets/Characters/Dialogue/Haley.json
  assets/Characters/Dialogue/Leo.json
  assets/Characters/Dialogue/LeoMainland.json
  assets/Characters/Dialogue/Lewis.json
  assets/Characters/Dialogue/Linus.json
  assets/Characters/Dialogue/Marnie.json
  assets/Characters/Dialogue/Maru.json
  assets/Characters/Dialogue/Mister Qi.json
  assets/Characters/Dialogue/Pam.json
  assets/Characters/Dialogue/Penny.json
  assets/Characters/Dialogue/Pierre.json
  assets/Characters/Dialogue/Robin.json
  assets/Characters/Dialogue/Sam.json
  assets/Characters/Dialogue/Sandy.json
  assets/Characters/Dialogue/rainy.json
Labels: translation 🌐

Reworded strings in various existing files
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/Haley.json
  assets/Characters/Dialogue/Kent.json
  assets/Characters/Dialogue/Leah.json
  assets/Characters/Dialogue/Lewis.json
  assets/Characters/Dialogue/Pam.json
  assets/Characters/Dialogue/Penny.json
Labels: translation 🌐

Translated two more files
  assets/Characters/Dialogue/Sebastian.json
  assets/Characters/Dialogue/Shane.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated three more files
  assets/Characters/Dialogue/Vincent.json
  assets/Characters/Dialogue/Willy.json
  assets/Characters/Dialogue/Wizard.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Renamed the mod name, made language button text more compact
  assets/Button.png
  manifest.json
Labels: maintence 👩‍🔧, translation 🌐

Translated two files
  assets/Data/Events/AbandonedJojaMart.json
  assets/Data/Events/AnimalShop.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated two files
  assets/Data/Events/BathHouse_Pool.json
  assets/Data/Events/BoatTunnel.json
Labels: translation 🌐

Translated two files
  assets/Data/Events/ArchaeologyHouse.json
  assets/Data/Events/QiNutRoom.json
Labels: translation 🌐

Made minor adjustments to existing file
  assets/Data/Events/ArchaeologyHouse.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Update README.md
  README.md
Labels: documentation 📚

Translated one files
  assets/Data/Events/Backwoods.json
Labels: translation 🌐

Made minor adjustments to existing files
  assets/Characters/Dialogue/Elliott.json
  assets/Characters/Dialogue/Emily.json
  assets/Characters/Dialogue/George.json
  assets/Characters/Dialogue/Haley.json
  assets/Characters/Dialogue/Lewis.json
  assets/Characters/Dialogue/Pierre.json
  assets/Characters/Dialogue/Sam.json
  assets/Characters/Dialogue/Sebastian.json
  assets/Characters/Dialogue/Willy.json
Labels: translation 🌐

Translated two files
  assets/Data/Events/Beach.json
  assets/Data/Events/BusStop.json
Labels: translation 🌐

Translated two more files, minor change to one existing file
  assets/Data/Events/ArchaeologyHouse.json
  assets/Data/Events/CommunityCenter.json
  assets/Data/Events/ElliottHouse.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated one files, made minor changes to an existing file
  assets/Characters/Dialogue/Harvey.json
  assets/Characters/Dialogue/MarriageDialogue.json
Labels: translation 🌐

Translated two files, made minor changes to some existing files
  assets/Characters/Dialogue/MarriageDialogue.json
  assets/Characters/Dialogue/MarriageDialogueAbigail.json
  assets/Characters/Dialogue/MarriageDialogueAlex.json
  assets/Characters/Dialogue/Shane.json
Labels: translation 🌐

Translated one files, made minor changes to an existing file
  assets/Characters/Dialogue/MarriageDialogue.json
  assets/Characters/Dialogue/MarriageDialogueElliott.json
Labels: translation 🌐

Translated one file, made minor changes to existing files
  assets/Characters/Dialogue/MarriageDialogue.json
  assets/Characters/Dialogue/MarriageDialogueElliott.json
  assets/Characters/Dialogue/MarriageDialogueEmily.json
Labels: translation 🌐

Translated two more files, made consistancy changes to existing files
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/George.json
  assets/Characters/Dialogue/Leah.json
  assets/Characters/Dialogue/MarriageDialogueHaley.json
  assets/Characters/Dialogue/MarriageDialogueHarvey.json
  assets/Characters/Dialogue/Pam.json
  assets/Characters/Dialogue/rainy.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated another file, made consistancy changes to existing files
  assets/Characters/Dialogue/MarriageDialogue.json
  assets/Characters/Dialogue/MarriageDialogueElliott.json
  assets/Characters/Dialogue/MarriageDialogueKrobus.json
Labels: translation 🌐

Translated another file
  assets/Characters/Dialogue/MarriageDialogueLeah.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Update README.md
  README.md
Labels: documentation 📚

Update README.md
  README.md
Labels: documentation 📚

Translated another file, made changes to two existing files
  assets/Characters/Dialogue/Gus.json
  assets/Characters/Dialogue/MarriageDialogueLeah.json
  assets/Characters/Dialogue/MarriageDialogueMaru.json
Labels: translation 🌐

.github/labeler.yml:

documentation 📚:
- '*.md'

maintence 👩‍🔧:
- '.github/**'
- '*.json'

translation 🌐:
- 'assets/**/*.json'
- 'assets/**/*.png'
