Repository Regnander/stardew-valley-swedish, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📚, maintence 👩‍🔧, translation 🌐

Translated five files
  assets/Strings/BundleNames.json
  assets/Strings/Events.json
  assets/Strings/Lexicon.json
  assets/Strings/Notes.json
  assets/Strings/credits.json
Labels: translation 🌐

Translated two files
  assets/Strings/Objects.json
  assets/Strings/SpeechBubbles.json
Labels: translation 🌐

Translated another file
  assets/Strings/SpecialOrderStrings.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Added install instructions.
  README.md
Labels: documentation 📚

Refined install instructions.
  README.md
Labels: documentation 📚

Translated one file
  assets/Strings/UI.json
Labels: translation 🌐

Translated another file
  assets/Strings/StringsFromCSFiles.json
Labels: translation 🌐

Translated some more files and made changes to existing ones
  assets/Strings/Characters.json
  assets/Strings/EnchantmentNames.json
  assets/Strings/Locations.json
  assets/Strings/NPCNames.json
  assets/Strings/Notes.json
  assets/Strings/SpecialOrderStrings.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/UI.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated the last file in this folder and made minor changes to some existing ones
  assets/Strings/Locations.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/StringsFromMaps.json
Labels: translation 🌐

Translated five files
  assets/Data/Festivals/FestivalDates.json
  assets/Data/Festivals/fall16.json
  assets/Data/Festivals/fall27.json
  assets/Data/Festivals/spring13.json
  assets/Data/Festivals/spring24.json
Labels: translation 🌐

Translated another file
  assets/Data/Festivals/summer11.json
Labels: translation 🌐

Finished a half-translated file
  assets/Data/Festivals/fall16.json
Labels: translation 🌐

Translated another file and made minor corrections to an existing one
  assets/Data/Festivals/summer11.json
  assets/Data/Festivals/summer28.json
Labels: translation 🌐

Translated the two last files in this folder
  assets/Data/Festivals/winter25.json
  assets/Data/Festivals/winter8.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Made minor corrections to existing files
  assets/Characters/Dialogue/Elliott.json
  assets/Data/Events/Town.json
  assets/Strings/Locations.json
  assets/Strings/StringsFromCSFiles.json
Labels: translation 🌐

Made several corrections to existing files
  README.md
  assets/Characters/Dialogue/Demetrius.json
  assets/Characters/Dialogue/Dwarf.json
  assets/Characters/Dialogue/Elliott.json
  assets/Characters/Dialogue/Emily.json
  assets/Characters/Dialogue/Gus.json
  assets/Characters/Dialogue/Krobus.json
  assets/Characters/Dialogue/Lewis.json
  assets/Characters/Dialogue/MarriageDialogueShane.json
  assets/Characters/Dialogue/Willy.json
  assets/Data/Events/Farm.json
  assets/Data/Events/FishShop.json
  assets/Data/Events/WizardHouse.json
  assets/Data/TV/CookingChannel.json
  assets/LooseSprites/Billboard.png
  assets/LooseSprites/Cursors.png
  assets/Strings/Locations.json
  assets/Strings/Notes.json
  assets/Strings/Objects.json
  assets/Strings/SpecialOrderStrings.json
  assets/Strings/SpeechBubbles.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/StringsFromMaps.json
  assets/Strings/UI.json
Labels: documentation 📚, translation 🌐

Made several corrections to existing files
  assets/Characters/Dialogue/Abigail.json
  assets/Characters/Dialogue/Caroline.json
  assets/Characters/Dialogue/Elliott.json
  assets/Characters/Dialogue/Willy.json
  assets/Data/Events/ArchaeologyHouse.json
  assets/Data/Events/Farm.json
  assets/Data/Events/FishShop.json
  assets/Data/Events/LeahHouse.json
  assets/Data/Events/Sunroom.json
  assets/Data/Festivals/spring24.json
  assets/Data/TV/CookingChannel.json
  assets/Strings/Locations.json
  assets/Strings/SpecialOrderStrings.json
  assets/Strings/SpeechBubbles.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/StringsFromMaps.json
Labels: translation 🌐

Made several corrections to existing files
  assets/Data/Events/ArchaeologyHouse.json
  assets/Data/Events/Beach.json
  assets/Data/Events/HaleyHouse.json
  assets/Data/Events/ScienceHouse.json
  assets/Strings/Notes.json
  assets/Strings/SpeechBubbles.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/schedules/Evelyn.json
  assets/Strings/schedules/George.json
  assets/Strings/schedules/Haley.json
  assets/Strings/schedules/Harvey.json
  assets/Strings/schedules/Jas.json
  assets/Strings/schedules/Leah.json
  assets/Strings/schedules/Maru.json
  assets/Strings/schedules/Penny.json
  assets/Strings/schedules/Sandy.json
Labels: translation 🌐

Translated one file
  assets/Data/Furniture.json
Labels: translation 🌐

Translated another file
  assets/Data/Monsters.json
Labels: translation 🌐

Translated another file
  assets/Data/Achievements.json
Labels: translation 🌐

Translated three files
  assets/Data/BigCraftablesInformation.json
  assets/Data/Blueprints.json
  assets/Data/Boots.json
Labels: translation 🌐

Translated two files
  assets/Data/ClothingInformation.json
  assets/Data/Concessions.json
Labels: translation 🌐

Translated two files
  assets/Data/FarmAnimals.json
  assets/Data/weapons.json
Labels: translation 🌐

Translated two more files
  assets/Data/CookingRecipes.json
  assets/Data/EngagementDialogue.json
Labels: translation 🌐

Translated another file
  assets/Data/Bundles.json
Labels: translation 🌐

Update README.md
  README.md
Labels: documentation 📚

Translated two files
  assets/Data/Fish.json
  assets/Data/mail.json
Labels: translation 🌐

Made minor changes to existing file
  assets/Data/ClothingInformation.json
Labels: translation 🌐

Made several corrections to existing files
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/Evelyn.json
  assets/Characters/Dialogue/Gus.json
  assets/Characters/Dialogue/Haley.json
  assets/Characters/Dialogue/Kent.json
  assets/Characters/Dialogue/Marnie.json
  assets/Characters/Dialogue/MarriageDialogue.json
  assets/Characters/Dialogue/MarriageDialogueElliott.json
  assets/Characters/Dialogue/MarriageDialogueEmily.json
  assets/Characters/Dialogue/MarriageDialogueHaley.json
  assets/Characters/Dialogue/MarriageDialogueKrobus.json
  assets/Characters/Dialogue/MarriageDialogueLeah.json
  assets/Characters/Dialogue/MarriageDialogueMaru.json
  assets/Characters/Dialogue/MarriageDialogueSebastian.json
  assets/Characters/Dialogue/Pierre.json
  assets/Characters/Dialogue/Sam.json
  assets/Characters/Dialogue/Sandy.json
  assets/Characters/Dialogue/Sebastian.json
  assets/Characters/Dialogue/Vincent.json
  assets/Data/Events/ArchaeologyHouse.json
  assets/Data/Events/Beach.json
  assets/Data/Events/Farm.json
  assets/Data/Events/JoshHouse.json
  assets/Data/Events/Mountain.json
  assets/Data/Events/SamHouse.json
  assets/Data/Events/SebastianRoom.json
  assets/Data/Events/WizardHouse.json
  assets/Data/Events/Woods.json
  assets/Data/TV/CookingChannel.json
  assets/Data/TV/TipChannel.json
  assets/Strings/Lexicon.json
  assets/Strings/Locations.json
  assets/Strings/Notes.json
  assets/Strings/SpecialOrderStrings.json
  assets/Strings/StringsFromCSFiles.json
Labels: translation 🌐

Translated more files
  assets/Data/ClothingInformation.json
  assets/Data/Fish.json
  assets/Data/mail.json
Labels: translation 🌐

Translated three files
  assets/Data/Quests.json
  assets/Data/SecretNotes.json
  assets/Data/hats.json
Labels: translation 🌐

Made changes to some existing files
  assets/Characters/Dialogue/Demetrius.json
  assets/Characters/Dialogue/Emily.json
  assets/Characters/Dialogue/Gus.json
  assets/Characters/Dialogue/Lewis.json
  assets/Characters/Dialogue/Mister Qi.json
  assets/Characters/Dialogue/Pam.json
  assets/Characters/Dialogue/Pierre.json
  assets/Characters/Dialogue/Robin.json
  assets/Characters/Dialogue/Willy.json
  assets/Characters/Dialogue/Wizard.json
  assets/Data/BigCraftablesInformation.json
  assets/Data/Blueprints.json
  assets/Data/CraftingRecipes.json
  assets/Data/Events/Farm.json
  assets/Data/Events/Forest.json
  assets/Data/Events/Mountain.json
  assets/Data/Events/Town.json
  assets/Data/ExtraDialogue.json
  assets/Data/ObjectInformation.json
  assets/Data/TV/TipChannel.json
  assets/Data/mail.json
  assets/Strings/Characters.json
  assets/Strings/Locations.json
  assets/Strings/Notes.json
  assets/Strings/SpecialOrderStrings.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/UI.json
  assets/Strings/schedules/Lewis.json
Labels: translation 🌐

Translated one file that was accidently commited
  assets/Data/ExtraDialogue.json
Labels: translation 🌐

Made minor changes to existing files
  assets/Maps/samshowtiles.png
  assets/Strings/Lexicon.json
  assets/Strings/Locations.json
  assets/Strings/StringsFromCSFiles.json
Labels: translation 🌐

Made minor changes to existing files
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/Dwarf.json
  assets/Characters/Dialogue/Elliott.json
  assets/Characters/Dialogue/LeoMainland.json
  assets/Data/Events/HaleyHouse.json
  assets/Data/Events/Saloon.json
  assets/Data/Festivals/spring13.json
  assets/Data/TV/CookingChannel.json
  assets/Strings/Locations.json
  assets/Strings/Notes.json
  assets/Strings/StringsFromCSFiles.json
  assets/Strings/UI.json
Labels: translation 🌐

Made minor changes to existing files
  assets/Data/BigCraftablesInformation.json
  assets/Data/Boots.json
  assets/Data/ClothingInformation.json
  assets/Data/CookingRecipes.json
  assets/Data/CraftingRecipes.json
  assets/Data/Fish.json
  assets/Data/Quests.json
  assets/Data/SecretNotes.json
  assets/Data/mail.json
Labels: translation 🌐

.github/labeler.yml:

documentation 📚:
- '*.md'

maintence 👩‍🔧:
- '.github/**'
- '*.json'

translation 🌐:
- 'assets/**/*.json'
- 'assets/**/*.png'
