Repository Regnander/stardew-valley-swedish, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📚, maintence 👩‍🔧, translation 🌐

.github/labeler.yml:

documentation 📚:
- '*.md'

maintence 👩‍🔧:
- '.github/**'
- '*.json'

translation 🌐:
- 'assets/**/*.json'
- 'assets/**/*.png'

Changed badge icon, removed header emojis, added font link
  README.md
Labels: documentation 📚

Added sync-labels configuration
  .github/workflows/label.yml
Labels: maintence 👩‍🔧

Renamed headers and hid the issue link (for now)
  README.md
Labels: documentation 📚

Create auto_assign.yml
  .github/auto_assign.yml
Labels: maintence 👩‍🔧

Translated various smaller files
  README.md
  assets/Characters/Dialogue/Gil.json
  assets/Strings/NPCNames.json
  assets/Strings/Quests.json
  assets/Strings/schedules/Alex.json
  assets/Strings/schedules/Demetrius.json
  assets/Strings/schedules/Evelyn.json
  assets/Strings/schedules/George.json
  assets/Strings/schedules/Haley.json
  assets/Strings/schedules/Harvey.json
  assets/Strings/schedules/Jas.json
  assets/Strings/schedules/Leah.json
  assets/Strings/schedules/Marnie.json
  assets/Strings/schedules/Maru.json
  assets/Strings/schedules/Pam.json
  assets/Strings/schedules/Penny.json
  assets/Strings/schedules/Pierre.json
  assets/Strings/schedules/Sandy.json
Labels: documentation 📚, translation 🌐

Edited all four (season)_town.png
  assets/Maps/fall_town.png
  assets/Maps/spring_town.png
  assets/Maps/summer_town.png
  assets/Maps/winter_town.png
Labels: translation 🌐

Updated readme
  README.md
Labels: documentation 📚

Made minor changes to some already translated sprites
  assets/Maps/fall_town.png
  assets/Maps/spring_town.png
  assets/Maps/summer_town.png
  assets/Maps/winter_town.png
  assets/Minigames/TitleButtons.png
Labels: translation 🌐

Translated random sprites
  assets/LooseSprites/Billboard.png
  assets/LooseSprites/JojaCDForm.png
  assets/Maps/townInterior.png
Labels: translation 🌐

Updated readme
  README.md
Labels: documentation 📚

Translated beach sprites
  assets/Maps/fall_beach.png
  assets/Maps/spring_beach.png
  assets/Maps/summer_beach.png
  assets/Maps/winter_beach.png
Labels: translation 🌐

Updated readme
  README.md
Labels: documentation 📚

Translated various sprites
  README.md
  assets/Maps/Festivals.png
  assets/Maps/TownIndoors.png
  assets/Maps/coopTiles.png
  assets/Minigames/jojacorps.png
Labels: documentation 📚, translation 🌐

Forgot to update percentages
  README.md
Labels: documentation 📚

Update auto_assign.yml
  .github/auto_assign.yml
Labels: maintence 👩‍🔧

Translated some dialogue files, added thousands separator
  assets/Characters/Dialogue/Abigail.json
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/Clint.json
  content.json
Labels: maintence 👩‍🔧, translation 🌐

Translated more dialogue files
  assets/Characters/Dialogue/Caroline.json
  assets/Characters/Dialogue/Demetrius.json
  assets/Characters/Dialogue/Dwarf.json
Labels: translation 🌐

Translated two more files
  assets/Characters/Dialogue/Elliott.json
  assets/Characters/Dialogue/Emily.json
Labels: translation 🌐

Updated README, translated one more file
  README.md
  assets/Characters/Dialogue/Alex.json
  assets/Characters/Dialogue/Evelyn.json
Labels: documentation 📚, translation 🌐

Translated some more dialogue files
  assets/Characters/Dialogue/George.json
  assets/Characters/Dialogue/Gus.json
  assets/Characters/Dialogue/Haley.json
Labels: translation 🌐

Translated some more files
  assets/Characters/Dialogue/Abigail.json
  assets/Characters/Dialogue/Harvey.json
  assets/Characters/Dialogue/Jas.json
  assets/Characters/Dialogue/Jodi.json
  assets/Characters/Dialogue/Kent.json
  assets/Characters/Dialogue/Krobus.json
Labels: translation 🌐

Translated some more sprite sheets
  assets/LooseSprites/JunimoNote.png
  assets/Maps/summer_town.png
  assets/Minigames/jojacorps.png
Labels: translation 🌐

Translated some more sprite sheets
  assets/Maps/DesertTiles.png
  assets/Maps/samshowtiles.png
Labels: translation 🌐

Translated two more files
  assets/LooseSprites/ControllerMaps.png
  assets/LooseSprites/Cursors.png
Labels: translation 🌐

Updated readme
  README.md
Labels: documentation 📚

Repositioned some labels
  assets/LooseSprites/ControllerMaps.png
Labels: translation 🌐

Made minor adjustments to the hand-written text
  assets/Minigames/TitleButtons.png
Labels: translation 🌐

Decreased strength sign height
  assets/Maps/Festivals.png
Labels: translation 🌐

Updated progress
  README.md
Labels: documentation 📚

Minor text change
  README.md
Labels: documentation 📚

Translated more files
  assets/Characters/Dialogue/Jodi.json
  assets/Characters/Dialogue/Leah.json
  assets/Characters/Dialogue/Leo.json
Labels: translation 🌐

Translated another file
  assets/Characters/Dialogue/LeoMainland.json
Labels: translation 🌐

Translated another dialogue file
  assets/Characters/Dialogue/Lewis.json
Labels: translation 🌐

Translated a dialogue file
  assets/Characters/Dialogue/Linus.json
Labels: translation 🌐

Translated a dialogue file
  assets/Characters/Dialogue/Marnie.json
Labels: translation 🌐

Translated two more files
  assets/Characters/Dialogue/Maru.json
  assets/Characters/Dialogue/Mister Qi.json
Labels: translation 🌐

Translated one more file
  assets/Characters/Dialogue/Pam.json
Labels: translation 🌐

Translated another file and made adjustments to an existing one
  assets/Characters/Dialogue/Abigail.json
  assets/Characters/Dialogue/Penny.json
Labels: translation 🌐

Translated another file and made adjustments to existing ones
  assets/Characters/Dialogue/Emily.json
  assets/Characters/Dialogue/Haley.json
  assets/Characters/Dialogue/Leah.json
  assets/Characters/Dialogue/Pierre.json
Labels: translation 🌐

Updated text proofreading percentage
  README.md
Labels: documentation 📚
